<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../css/description.css">
    <!-- Fontawesome css -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>Golden Suit</title>
    <!-- Favicon -->
      <link rel="icon" type="image/png" sizes="32x32" href="http://themescare.com/demos/filmoja-view/assets/img/favicon/favicon-32x32.png">

  </head>

<body>
<!-- The social media icon bar -->
<div class="icon-bar float-right">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="google"><i class="fa fa-google"></i></a>
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
<div class="container">
            <a href="../index2.html" class="navbar-brand">Style <span>It</span></a>
            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon "></span>
            </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
           <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                  <a class="nav-link" href="product.html">Our Offer</a>
                 </li>
              <li class="nav-item">
               <a class="nav-link" href="product.html">Deal Of Day</a>
              </li>
            <li class="nav-item">
       <a class="nav-link" href="../index2.html">FAQs</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-shopping-cart fa-2x" style="color: #f9c200"> Cart</i></a>
              </li> 
          </ul>
          </div>  </div>
</nav>

<div class="container space">
 <div class="row">
   <div class="col-md-3">
        <div id="demo" class="carousel slide" data-ride="carousel">
           <ul class="carousel-indicators">
             <li data-target="#demo" data-slide-to="0" class="active "></li>
             <li data-target="#demo" data-slide-to="1" ></li>
             <li data-target="#demo" data-slide-to="2" ></li>
           </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../images/goldensuit6.jpeg" alt="Los Angeles" width="1100" height="500">   
            </div>
            <div class="carousel-item">
              <img src="../images/goldensuit5.jpg" alt="Chicago" width="1100" height="500">  
            </div>
            <div class="carousel-item">
              <img src="../images/goldensuit4.jpg" alt="New York" width="1100" height="500">  
            </div>
          </div>
            <a class="carousel-control-prev " href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon " ></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon " ></span>
            </a>
        </div>
        <!-- <h3><strong>   Product</strong></h3> -->
   </div>
   <div class="col-md-6 back">
      <h3><b>Elyraa Women's Embroidered Indian Cotton Suit ( Golden Color )</b></h3>
          <a href="" class=""><small>11 Customer Reviews <span class="vl"></span> 5 answered quetions</small></a>
              <div class="choice"><small>Style it's<span> Choice</span></small></div>
                <hr>
                  <div class="cont ">
                    <p><small>M.R.P.: <span style="text-decoration: line-through;">1,099.00</span></small></p>
                    <p class="ml-3"><span class="color-change"><small>Sale:</small> 399.00</span><span style="color: black"> FREE Delivery.</span><a href=""> Details</a></p>
                    <p>You Save:<span class="color-change"> 700.00 (64%)</span></p>
                    <p class="ml-3"><small>Inclusive of all taxes</small></p>
                    <strong>Size:</strong>
                      <div class="dropdown">
                          <button class="btn btn-pro dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select Size
                          </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Small</a>
                            <a class="dropdown-item" href="#">Medium</a>
                            <a class="dropdown-item" href="#">Large</a>
                        </div>
                      </div>
                  </div>

      <ul class="my-3 ml-3">
          <li type="disc">Care Instructions: First Wash Dry Clean Only. Do Not Spin In Order To Prevent Garment From Becoming Mishappen.</li>
          <li type="disc">Fabric : Poly Silk</li>
          <li type="disc">Boat Neck With 3/4Th Sleeves Straight Polysilk Kurta</li>
          <li type="disc">Please check ZIYAA size chart for the garments measurements and order a garment size that is at least 2" greater than your body measurement for the ease of putting on and taking off the garment.</li>
      </ul>

      <h3 class="mt-4"><b>Have a Question ?</b></h3>
            <p><small>Find answers in product info, Q&As, reviews</small></p>
            <div class="form-group">
                <!-- <label for="usr">Name:</label> -->
                <input type="text" class="form-control" id="usr">
            </div>
   </div>
   <div class="col-md-3 ">
        <div class="card" style="width: 13rem">
          <div class="card-body">
              <h4 class="card-title">Like the product,</h4>
                <a href="#" class="btn btn-pro">Buy Now</a>
                  <a href="cart.html" class="btn btn-pro"><i class="fa fa-shopping-cart"> Add to cart</i></a>
                    <hr>
                  <a href="#" class="btn btn-wish">Add to wishlist</a>
          </div>
        </div>
   </div>
 </div>
</div>

<!-- Footer Section -->
<footer>
  <div class="container">
    <!-- social Section -->
    <div class="socialLinks" >
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="footer-copyright">
          <p>&copy; 2019 Style It | All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>