<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../css/privacy.css">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>Privacy Policy</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="http://themescare.com/demos/filmoja-view/assets/img/favicon/favicon-32x32.png">

</head>
<body>
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
<div class="container">
            <a href="../index2.html" class="navbar-brand">Style <span>It</span></a>
            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon "></span>
            </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
           <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                  <a class="nav-link" href="product.html">Our Offer</a>
                 </li>
              <li class="nav-item">
               <a class="nav-link" href="product.html">Deal Of Day</a>
              </li>
            <li class="nav-item">
       <a class="nav-link" href="../index2.html">FAQs</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-shopping-cart fa-2x" style="color: #f9c200"> Cart</i></a>
              </li> 
          </ul>
          </div>  
</div>
</nav>
<div class="ppimg">
<img src="../images/pp.jpg" width="100%" height="50%">
</div>
<div class="section-title space" >
      <h3>Privacy <span>Statement</span></h3>
      <p>Styleit recognizes the fundamental importance of privacy, security and data protection to our customers and partners worldwide. As a global organization, with legal entities, business processes, management structures, and technical systems that cross international borders, we strive to provide protections across all of our operations that exceed legal minimums and to deploy consistent, rigorous policies and procedures.
	  <br>
	  This Privacy Statement informs you of our privacy practices and of the choices you can make about the way we collect and use information about you, including information that may be collected from your online activity, use of devices, and information provided to HP for purposes of recruitment or employment consideration. This Privacy Statement applies to all HP companies as well as HP-owned websites, domains, services, applications, and products, and those of our subsidiaries (collectively “Styleit Services”).
	  <br>
	  This Privacy Statement does not apply to third-party applications, products, services, websites or social media features that may be accessed through links we provide on our HP Services for your convenience and information. Accessing those links will cause you to leave the HP Services and may result in the collection or sharing of information about you by a third-party. We do not control, endorse or make any representations about those third-party websites or their privacy practices, which may differ from ours. We encourage you to review the privacy policy of any site you interact with before allowing the collection and use of your personal data.

      <br>
      Please use the links to access any applicable country- or service- specific supplements to the Privacy Statement. In case of inconsistencies between any courtesy translations and the English version of the Privacy Statement the English version will prevail.
      <br>

      To download the 2016 Styleit Privacy statement, please <a>click here</a> and to download previous version of HP Privacy statement, <a>click here.</a></p></div>
 <!-- The social media icon bar -->
<div class="icon-bar float-right">
<!-- <img  src= "../images/1.jpg" width="31" height="135"> -->
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="google"><i class="fa fa-google"></i></a>
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>

<div id="accordion" class="mx-1">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        <i class="fa fa-caret-down"></i>
         Join Us
      </a>
    </div>
    <div id="collapseOne" class="collapse " data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card card-link">
    <div class="card-header ">
      <a class="collapsed " data-toggle="collapse" href="#collapseTwo">
        <i class="fa fa-caret-down"></i>
        Jobs/Intern
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        <i class="fa fa-caret-down"></i>
        What data we collect
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

</div>
<div class="section-title">
	<h5>Stay Informed.</h5>
</div>
<!-- Footer Section -->
<footer>
  <div class="container">
    <!-- social Section -->
    <div class="socialLinks" >
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="footer-copyright">
          <p>&copy; 2019 Style It | All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>