<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="../css/product.css">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>Products</title>
</head>
<body>
<!-- The social media icon bar -->
<div class="icon-bar float-right">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="google"><i class="fa fa-google"></i></a>
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
<div class="container">
            <a href="../index2.html" class="navbar-brand">Style <span>It</span></a>
            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon "></span>
            </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
           <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                  <a class="nav-link" href="#offer">Our Offer</a>
                 </li>
              <li class="nav-item">
               <a class="nav-link" href="description.html">Deal Of Day</a>
              </li>
            <li class="nav-item">
       <a class="nav-link" href="../index2.html">FAQs</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="description.html"><i class="fa fa-shopping-cart fa-2x" style="color: #f9c200"> Cart</i></a>
              </li> 
          </ul>
          </div>  </div>
</nav>

<div class="container space">
<section class="my-5">
  <!-- Grid row -->
<div class="row back">
    <div class="col-md-4">
       <div class="imagepro">
        <img src="http://www.stage5gaming.com/includes/templates/noahsar/images/banner.jpg" >
        <img src="https://previews.123rf.com/images/volmon/volmon1708/volmon170800080/83673644-cosmetics-sale-banner-with-lipstick-fashion-sale-discount-illustration.jpg" class="space">
        <img src="https://img.freepik.com/free-vector/watercolor-sale-badge-collection_1361-443.jpg?size=338&ext=jpg" class="space">
    </div></div>



<div class="col-md-8">
    <!-- Grid column -->
<div class="row space">
    <div class="col-lg-6">

      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../images/top1.jpg" height="250" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title"><i class="fa fa-heart"> Stylish Top</i></h5>
          <p class="card-text"><i class="fa fa-check fa-sm">  Fit Type: Regular Fit</i></p>
          <p class="card-text"><i class="fa fa-check">  Fabric: Rayon Cotton Rich</i></p>
          <a href="" class=""><small>Get it now and save 220 RS</small></a>
          <a href="description.html" class="btn btn-pro">Explore More</a>
          <a href="description.html" class="btn btn-pro"><i class="fa fa-shopping-cart"> Add to cart</i></a>      </div>
      </div>
    </div>
    <div class="col-lg-6 ">

      <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="../images/top2.jpg" height="250" alt="Card image cap">
          <div class="card-body">
           <h5 class="card-title"><i class="fa fa-heart"> Stylish Top</i></h5>
          <p class="card-text"><i class="fa fa-check fa-sm">  Fit Type: Regular Fit</i></p>
          <p class="card-text"><i class="fa fa-check">  Fabric: Rayon Cotton Rich</i></p>
          <a href="" class=""><small>Get it now and save 220 RS</small></a>
          <a href="description.html" class="btn btn-pro">Explore More</a>
          <a href="description.html" class="btn btn-pro"><i class="fa fa-shopping-cart"> Add to cart</i></a>
          </div>
      </div>
    </div>
    <!-- Grid column -->
</div>

<div class="row space">
    <!-- Grid column -->
    <div class="col-lg-6 ">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/top3.jpg" height="250" alt="Card image cap">
         <div class="card-body">
          <h5 class="card-title"><i class="fa fa-heart"> Stylish Top</i></h5>
          <p class="card-text"><i class="fa fa-check fa-sm">  Fit Type: Regular Fit</i></p>
          <p class="card-text"><i class="fa fa-check">  Fabric: Rayon Cotton Rich</i></p>
          <a href="" class=""><small>Get it now and save 220 RS</small></a>
          <a href="description.html" class="btn btn-pro">Explore More</a>
          <a href="description.html" class="btn btn-pro"><i class="fa fa-shopping-cart"> Add to cart</i></a>
         </div>
      </div>
    </div>
    <div class="col-lg-6">

      <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="../images/top5.jpeg" height="250" alt="Card image cap">
         <div class="card-body">
         <h5 class="card-title"><i class="fa fa-heart"> Stylish Top</i></h5>
          <p class="card-text"><i class="fa fa-check fa-sm">  Fit Type: Regular Fit</i></p>
          <p class="card-text"><i class="fa fa-check">  Fabric: Rayon Cotton Rich</i></p>
          <a href="" class=""><small>Get it now and save 220 RS</small></a>
          <a href="description.html" class="btn btn-pro">Explore More</a>
          <a href="description.html" class="btn btn-pro"><i class="fa fa-shopping-cart"> Add to cart</i></a>
         </div>
      </div>
    </div>
    <!-- Grid column -->
</div>

<div class="row space">
    <div class="col-lg-6">

      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../images/top6.jpg" height="250" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title"><i class="fa fa-heart"> Stylish Top</i></h5>
          <p class="card-text"><i class="fa fa-check fa-sm">  Fit Type: Regular Fit</i></p>
          <p class="card-text"><i class="fa fa-check">  Fabric: Rayon Cotton Rich</i></p>
          <a href="" class=""><small>Get it now and save 220 RS</small></a>
          <a href="description.html" class="btn btn-pro">Explore More</a>
          <a href="description.html" class="btn btn-pro"><i class="fa fa-shopping-cart"> Add to cart</i></a>      </div>
      </div>
    </div>
    <div class="col-lg-6 ">

      <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="../images/top1.jpg" height="250" alt="Card image cap">
          <div class="card-body">
           <h5 class="card-title"><i class="fa fa-heart"> Stylish Top</i></h5>
          <p class="card-text"><i class="fa fa-check fa-sm">  Fit Type: Regular Fit</i></p>
          <p class="card-text"><i class="fa fa-check">  Fabric: Rayon Cotton Rich</i></p>
          <a href="" class=""><small>Get it now and save 220 RS</small></a>
          <a href="description.html" class="btn btn-pro">Explore More</a>
          <a href="description.html" class="btn btn-pro"><i class="fa fa-shopping-cart"> Add to cart</i></a>
          </div>
      </div>
    </div>
    <!-- Grid column -->
</div>
</div>
</div></section>
</div>

<!-- Footer Section -->
<footer>
  <div class="container">
    <!-- social Section -->
    <div class="socialLinks" >
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="footer-copyright">
          <p>&copy; 2019 Style It | All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>